<nav class="nav-container">
  <div class="nav-wrapper container">
      <a id="logo-container" routerLink="/" class="brand-logo"><img src="./../assets/logo.png" height="28" width="28" alt="logo"/>BitCash</a>
    <ul class="right nav-ul" *ngIf="logged">
      <li><a routerLink="/offers/add">New Offer</a></li>
      <li><a routerLink="/offers">Offers</a></li>
      <li><a routerLink="/bargains">Bargains</a></li>
      <li><a routerLink="/logout" (click)="logOut()">Log Out</a></li>
      <li><a routerLink="/account"><span class="chip">Welcome, <b>{{username}}</b></span></a></li>
    </ul>
    <ul class="right nav-ul" *ngIf="!logged">
      <li><a routerLink="/offers">Offers</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/register">Register</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="page-footer grey">
  <div class="footer-copyright">
    <div class="container">
      © 2017 BitCash
    </div>
  </div>
</footer>
