<h1>I add cars</h1>

<form action="/addCar" method="post">
<fieldset>
    <legend>Create car:</legend>
    Brand: <br>
    <input type="text" name="brand" placeholder="Add my brand"><br>
    Model: <br>
    <input type="text" name="model" placeholder="What's my model"><br>
    Price per day: <br>
    <input type="text" name="pricePerDay" placeholder="How much do I cost"><br>
    Image: <br>
    <input type="text" name="image" placeholder="Add my image"><br>
    Year: <br>
    <input type="text" name="year" placeholder="How old am I"><br>
    <input type="submit" value="Submit">
</fieldset>
</form>