<div class="header-wrapper" id="catalogTop">
  <h1 class="header center white-text text-lighten-2">Offers</h1>
</div>
<div class="text-wrapper">
  <p><b>Explore our offers and buy crypto. You can also offer a lower price!</b></p>
</div>
<div class="text-wrapper-additional" *ngIf="!permissions">
  <p>
    <b class="white-text">Please log in to see items details: </b>
    <a class="login-anchor" routerLink="/login">Log In</a>
  </p>
</div>
<br/>
<br/>
<div class="container">
  <div class="row" *ngIf="catalog">
    <div *ngFor="let offer of catalog">
      <app-offer [offer]="offer" [permissions]="permissions"></app-offer> 
    </div>
  </div>
  <div class="row" *ngIf="!catalog">
    <div class="progress">
      <div class="indeterminate"></div>
    </div>
  </div>
</div>
